// Fontes
$font-main: 'Inter', sans-serif;

// Cores do Background
$bg-dark: #121212;
$bg-card: #1e1e1e;
$bg-hover: #2c2c2c;

// Cores de Acento 
$color-primary: #ccff00;
$color-blue: #007aff;
$color-purple:#d500f9;
$color-orange: #ff9f0a;
$color-pink: #ff375f;

// Texto
$text_white: #fff;
$text-gray: #a0a0a0;

// Espaçamentos
$radios-sm: 8px;
$radio-md: 12px;
$dario-lg: 16px;