// _variables.scss

// --- FONTES ---
$font-main: 'Inter', sans-serif;

// --- CORES DO SISTEMA ---
$bg-dark: #121212;       // Fundo da página
$bg-sidebar: #1E1E1E;    // Fundo da lateral
$border-color: #000000;  // Cor da borda (Preto puro)
$text-white: #FFFFFF;
$text-gray: #A0A0A0;

// --- CORES NEON (Detalhes) ---
$color-primary: #0d59f2;      // Azul Forte
$color-neon-green: #ccff00;   // Verde Limão
$color-neon-pink: #ff00ff;    // Rosa Choque
$color-neon-blue: #00ffff;    // Ciano

// --- CORES DOS CARDS (Fundo das tarefas) ---
$card-yellow: #ffeb3b;
$card-orange: #ff9800;
$card-purple: #d0bcff;
$card-blue: #90caf9;
$card-white: #ffffff;

// --- SOMBRAS E BORDAS ---
$shadow-sm: 2px 2px 0px 0px #000000;
$shadow-md: 4px 4px 0px 0px #000000;
$shadow-lg: 6px 6px 0px 0px #000000;

$radius-sm: 4px;
$radius-md: 8px;