button {
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 600;
    
    &:active {
        transform: scale(0.98);
    }
}

.btn-primary {
    background-color: $color-blue; // Azul do design
    color: white;
    padding: 10px 20px;
    border-radius: $radius-sm;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
        filter: brightness(1.1);
        box-shadow: 0 4px 12px rgba(0, 122, 255, 0.3);
    }
}